<%- include ('../layouts/adminHeader.ejs') %>
<!-- Dashboard -->
<li class="menu-item ">
  <a href="dashboard" class="menu-link">
    <i class="menu-icon tf-icons bx bx-home-circle"></i>
    <div data-i18n="Analytics">Dashboard</div>
  </a>
</li>

<li class="menu-item">
  <a href="user" class="menu-link">
    
    <i class="menu-icon tf-icons bx bxs-user-detail"></i>
    <div data-i18n="Basic">User List</div>
  </a>
</li>

<li class="menu-item">
  <a href="adminProduct" class="menu-link">
    
    <i class="menu-icon tf-icons bx bxs-florist"></i>
    <div data-i18n="Basic">Product Details</div>
  </a>
</li>


<li class="menu-item">
  <a href="adminCategory" class="menu-link">
    <i class="menu-icon tf-icons bx bx-table"></i>
    <div data-i18n="Analytics">Category</div>
  </a>
</li>


<li class="menu-item ">
  <a href="offer" class="menu-link">
    <i class="menu-icon tf-icons bx bx-gift"></i>
    <div data-i18n="Analytics">Offers</div>
  </a>
</li>
  
<li class="menu-item active">
  <a href="loadbanner" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="Analytics">Banner</div>
  </a>
</li>

<li class="menu-item ">
  <a href="orderReport" class="menu-link">
    <i class="menu-icon tf-icons bx bx-collection"></i>
    <div data-i18n="Analytics">Order Report</div>
  </a>
</li>



  <!-- Layouts -->
  <!-- <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-layout"></i>
      <div data-i18n="Layouts">Layouts</div>
    </a>

    <ul class="menu-sub">
      <li class="menu-item">
        <a href="layouts-without-menu.html" class="menu-link">
          <div data-i18n="Without menu">Without menu</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="layouts-without-navbar.html" class="menu-link">
          <div data-i18n="Without navbar">Without navbar</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="layouts-container.html" class="menu-link">
          <div data-i18n="Container">Container</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="layouts-fluid.html" class="menu-link">
          <div data-i18n="Fluid">Fluid</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="layouts-blank.html" class="menu-link">
          <div data-i18n="Blank">Blank</div>
        </a>
      </li>
    </ul>
  </li> -->

  <!-- <li class="menu-header small text-uppercase">
    <span class="menu-header-text">Pages</span>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-dock-top"></i>
      <div data-i18n="Account Settings">Account Settings</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="pages-account-settings-account.html" class="menu-link">
          <div data-i18n="Account">Account</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="pages-account-settings-notifications.html" class="menu-link">
          <div data-i18n="Notifications">Notifications</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="pages-account-settings-connections.html" class="menu-link">
          <div data-i18n="Connections">Connections</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
      <div data-i18n="Authentications">Authentications</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="auth-login-basic.html" class="menu-link" target="_blank">
          <div data-i18n="Basic">Login</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="auth-register-basic.html" class="menu-link" target="_blank">
          <div data-i18n="Basic">Register</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="auth-forgot-password-basic.html" class="menu-link" target="_blank">
          <div data-i18n="Basic">Forgot Password</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-cube-alt"></i>
      <div data-i18n="Misc">Misc</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="pages-misc-error.html" class="menu-link">
          <div data-i18n="Error">Error</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="pages-misc-under-maintenance.html" class="menu-link">
          <div data-i18n="Under Maintenance">Under Maintenance</div>
        </a>
      </li>
    </ul>
  </li> -->
  <!-- Components -->
  <!-- <li class="menu-header small text-uppercase"><span class="menu-header-text">Components</span></li> -->
  <!-- Cards -->
  <!-- <li class="menu-item">
    <a href="cards-basic.html" class="menu-link">
      <i class="menu-icon tf-icons bx bx-collection"></i>
      <div data-i18n="Basic">Cards</div>
    </a>
  </li> -->
  <!-- User interface -->
  <!-- <li class="menu-item">
    <a href="javascript:void(0)" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-box"></i>
      <div data-i18n="User interface">User interface</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="ui-accordion.html" class="menu-link">
          <div data-i18n="Accordion">Accordion</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-alerts.html" class="menu-link">
          <div data-i18n="Alerts">Alerts</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-badges.html" class="menu-link">
          <div data-i18n="Badges">Badges</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-buttons.html" class="menu-link">
          <div data-i18n="Buttons">Buttons</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-carousel.html" class="menu-link">
          <div data-i18n="Carousel">Carousel</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-collapse.html" class="menu-link">
          <div data-i18n="Collapse">Collapse</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-dropdowns.html" class="menu-link">
          <div data-i18n="Dropdowns">Dropdowns</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-footer.html" class="menu-link">
          <div data-i18n="Footer">Footer</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-list-groups.html" class="menu-link">
          <div data-i18n="List Groups">List groups</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-modals.html" class="menu-link">
          <div data-i18n="Modals">Modals</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-navbar.html" class="menu-link">
          <div data-i18n="Navbar">Navbar</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-offcanvas.html" class="menu-link">
          <div data-i18n="Offcanvas">Offcanvas</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-pagination-breadcrumbs.html" class="menu-link">
          <div data-i18n="Pagination &amp; Breadcrumbs">Pagination &amp; Breadcrumbs</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-progress.html" class="menu-link">
          <div data-i18n="Progress">Progress</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-spinners.html" class="menu-link">
          <div data-i18n="Spinners">Spinners</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-tabs-pills.html" class="menu-link">
          <div data-i18n="Tabs &amp; Pills">Tabs &amp; Pills</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-toasts.html" class="menu-link">
          <div data-i18n="Toasts">Toasts</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-tooltips-popovers.html" class="menu-link">
          <div data-i18n="Tooltips & Popovers">Tooltips &amp; popovers</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="ui-typography.html" class="menu-link">
          <div data-i18n="Typography">Typography</div>
        </a>
      </li>
    </ul>
  </li> -->

  <!-- Extended components -->
  <!-- <li class="menu-item">
    <a href="javascript:void(0)" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-copy"></i>
      <div data-i18n="Extended UI">Extended UI</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="extended-ui-perfect-scrollbar.html" class="menu-link">
          <div data-i18n="Perfect Scrollbar">Perfect scrollbar</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="extended-ui-text-divider.html" class="menu-link">
          <div data-i18n="Text Divider">Text Divider</div>
        </a>
      </li>
    </ul>
  </li>

  <li class="menu-item">
    <a href="icons-boxicons.html" class="menu-link">
      <i class="menu-icon tf-icons bx bx-crown"></i>
      <div data-i18n="Boxicons">Boxicons</div>
    </a>
  </li> -->

  <!-- Forms & Tables -->
  <!-- <li class="menu-header small text-uppercase"><span class="menu-header-text">Forms &amp; Tables</span></li> -->
  <!-- Forms -->
  <!-- <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-detail"></i>
      <div data-i18n="Form Elements">Form Elements</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="forms-basic-inputs.html" class="menu-link">
          <div data-i18n="Basic Inputs">Basic Inputs</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="forms-input-groups.html" class="menu-link">
          <div data-i18n="Input groups">Input groups</div>
        </a>
      </li>
    </ul>
  </li>
  <li class="menu-item">
    <a href="javascript:void(0);" class="menu-link menu-toggle">
      <i class="menu-icon tf-icons bx bx-detail"></i>
      <div data-i18n="Form Layouts">Form Layouts</div>
    </a>
    <ul class="menu-sub">
      <li class="menu-item">
        <a href="form-layouts-vertical.html" class="menu-link">
          <div data-i18n="Vertical Form">Vertical Form</div>
        </a>
      </li>
      <li class="menu-item">
        <a href="form-layouts-horizontal.html" class="menu-link">
          <div data-i18n="Horizontal Form">Horizontal Form</div>
        </a>
      </li>
    </ul>
  </li> -->
  <!-- Tables -->
  <!-- <li class="menu-item active">
    <a href="tables-basic.html" class="menu-link">
      <i class="menu-icon tf-icons bx bx-table"></i>
      <div data-i18n="Tables">Tables</div>
    </a>
  </li> -->
  <!-- Misc -->
  <li class="menu-header small text-uppercase"><span class="menu-header-text"></span></li>
  <li class="menu-item">
    <a
      href="https://github.com/themeselection/sneat-html-admin-template-free/issues"
      target="_blank"
      class="menu-link"
    >
      <i class="menu-icon tf-icons bx bx-"></i>
      <div data-i18n="Support"></div>
    </a>
  </li>
  <li class="menu-item">
    <a
      href="https://themeselection.com/demo/sneat-bootstrap-html-admin-template/documentation/"
      target="_blank"
      class="menu-link"
    >
      <i class="menu-icon tf-icons bx bx-"></i>
      <div data-i18n="Documentation"></div>
    </a>
  </li>
</ul>
</aside>
<!-- / Menu -->

<!-- Layout container -->
<div class="layout-page">
<!-- Navbar -->

<nav
  class="layout-navbar container-xxl navbar navbar-expand-xl navbar-detached align-items-center bg-navbar-theme"
  id="layout-navbar"
>
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-3 me-xl-0 d-xl-none">
    <a class="nav-item nav-link px-0 me-xl-4" href="javascript:void(0)">
      <i class="bx bx-menu bx-sm"></i>
    </a>
  </div>

  <div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <!-- Search -->
    <!-- <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="bx bx-search fs-4 lh-0"></i>
        <input
          type="text"
          class="form-control border-0 shadow-none"
          placeholder="Search..."
          aria-label="Search..."
        />
      </div>
    </div> -->
    <!-- /Search -->

    <ul class="navbar-nav flex-row align-items-center ms-auto">
      <!-- Place this tag where you want the button to render. -->
      <!-- <li class="nav-item lh-1 me-3">
        <a
          class="github-button"
          href="https://github.com/themeselection/sneat-html-admin-template-free"
          data-icon="octicon-star"
          data-size="large"
          data-show-count="true"
          aria-label="Star themeselection/sneat-html-admin-template-free on GitHub"
          >Star</a
        >
      </li> -->

      <!-- User -->
      <li class="nav-item navbar-dropdown dropdown-user dropdown">
        <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
          <div class="avatar avatar-online">
            <img src="/admin/assets/img/avatars/winkel.jpg" alt class="w-px-40 h-auto rounded-circle" />
          </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li>
            <a class="dropdown-item" href="#">
              <div class="d-flex">
                <div class="flex-shrink-0 me-3">
                  <div class="avatar avatar-online">
                    <img src="/admin/assets/img/avatars/winkel.jpg" alt class="w-px-40 h-auto rounded-circle" />
                  </div>
                </div>
                <div class="flex-grow-1">
                  <span class="fw-semibold d-block"></span>
                  <small class="text-muted">Admin</small>
                </div>
              </div>
            </a>
          </li>
         
          <li>
            <div class="dropdown-divider"></div>
          </li>
          <li>
            <a class="dropdown-item" href="/admin/adminLogout">
              <i class="bx bx-power-off me-2"></i>
              <span class="align-middle">Log Out</span>
            </a>
          </li>
        </ul>
      </li>
      <!--/ User -->
    </ul>
  </div>
</nav>
<div class="content-wrapper">
<!-- / Navbar -->
<section class="h-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-10 col-xl-8">
          <div class="card" style="border-radius: 10px;">
            
            <div class="card-body p-4">
              <div class="d-flex justify-content-between align-items-center mb-4">
                <p class="lead fw-normal mb-0" style="color: #ff0000;">Receipt</p>
                
              </div>
             


              <!-- let key of order.products.item; -->
              <% for(let i = 0;i<order.products.item.length;i++){ %>
                
              <div class="card shadow-0 border mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="/admin/assets/uploads/<%= order.products.item[i].productId.image[0]%>"
                        class="img-fluid" alt="lol">
                    </div>

                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                        <p class="text-muted mb-0">
                            <%=order.products.item[i].productId.name %>
                        </p>
                    </div>

                    <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Category:<%=
                            order.products.item[i].productId.category %>
                    </p>
                </div>
                <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-muted mb-0 small">Qty:<%=
                            order.products.item[i].qty %>
                    </p>
                </div>
                <div
                    class="col-md-2 text-center d-flex justify-content-center align-items-center">
                    <p class="text-success mb-0 small">₹<%=
                            order.products.item[i].price %>
                    </p>
                </div>
                <% if(order.status=='Delivered' ){ %>
                  <% if(order.productReturned[i]==0){ %>
                
                <% }  else{%>
                  
          <% } %>

      </div>
          <% }} %>


              <div class="d-flex justify-content-between pt-2">
                <div class="mb-0">
                  <p class="text-muted mb-0 pt-2" style="color: rgb(54, 54, 221);">Track Order :</p>
                </div>
                <!-- <br>
                <br>
                <br> -->
                <div class="mb-0">
                  <div class="d-flex justify-content-around mb-1" style="color: #000000;"">
                    <p class="text-muted pt-2 " style="width: 400px; color: #000000;"><%= order.status %></p>
                  </div>
                </div>
              </div>
<br>
<br>
              <div class="d-flex justify-content-between pt-2">
                <p class="fw-bold mb-0" style="width:450px;">Order Details</p><br>
                <p class="text-muted mb-0"><span class="fw-bold me-4">Total :</span><%=order.products.totalPrice %></p>
              </div>
  
              <div class="d-flex justify-content-between pt-2 pb-2">
                <p class="text-muted mb-0" style="width: 440px;">Invoice Number : <%= order._id %></p>
                <br>
                <% if(order.discount){ %>
                <p class="text-muted mb-0">, <span class="fw-bold me-4">Discount :</span>₹<%= order.discoount %></p>
                <% } else { %>
                  <p class="text-muted mb-0">, <span class="fw-bold me-4">Discount :</span>Nill</p>
                  <% } %>
              </div>
  
              <div class="d-flex justify-content-between pb-2" >
                <p class="text-muted mb-0">Invoice Date : <%= order.createdAt.toDateString() %></p>
                
              </div>
          
  
              <div class="d-flex justify-content-between mb-5" style="margin-left: 0px;">
                <% if(order.offer){ %>
                <p class="text-muted mb-0">Recepit Coupon : <%= order.offer %></p>
                <% }else{ %>
                  <p class="text-muted mb-0">Recepit Coupon : Nill</p>
                  <% } %>
                <p class="text-muted mb-0"><span class="fw-bold me-4" style="margin-left: 260px;">Delivery Charge:  </span>₹00.00</p>
              </div>
            </div>
            <div class="card-footer border-0 px-4 py-5"
              style="background-color: #793fff;  ">
              <h5 class="" style="color: #fefeff;  ">Total
                paid:&nbsp; <span class="" > ₹<%=order.products.totalPrice %>&nbsp;/-</span></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
	

  <br><br><br>
</div>


  
      <%- include ('../layouts/adminFooter.ejs') %>