<% if(id) { %>
    <%- include('../layouts/userLoggedinHeader') %>
<% } else { %>
    <%- include('../layouts/userHeaders') %>
<% } %>

<!-- Start Banner Area -->
<!-- <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>My Wishlist</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/wishlist">My Wishlist</a>
                </nav>
            </div>
        </div>
    </div>
</section> -->
<!-- End Banner Area -->

<!--================My Wishlist Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <% if(wishlistProducts && wishlistProducts.item.length > 0) { %>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let key of wishlistProducts.item) { %>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img class="img-fluid" src="/admin/multer/img/<%= key.productId.image[0] %>" alt="" style="width: 180px;height: 180px;" >
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <p><h4><%= key.productId.name %></h4></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <p><h4><%= key.productId.category %></h4></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <p><h4>₹ <%= key.productId.price %></h4></p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/addToCartDeleteWishlist?id=<%= key.productId._id %>" class="btn btn-outline-warning">Add TO Cart</a>
                                    </td>
                                    <td class=""><a href="/deleteWishlist?id=<%= key.productId._id %>"><i class="fa fa-close" style="font-size:24px;color:#ffba00"></i></a></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <div id="wishlist" class="alert alert-info" role="alert">
                    Your wishlist is currently empty.
                </div>
<style>
    #wishlist {
    background-color: #e7f3fe;
    border-color: #afdaff;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

</style>             
<script>
    // This code will change the text of the wishlist div on click of a button
document.querySelector("#wishlist").addEventListener("click", function() {
    document.querySelector("#wishlist").innerHTML = "Add items to your wishlist!";
});

</script>             
            <% } %>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<!-- start footer Area -->

<!-- End footer Area -->

<%- include ('../layouts/userFooter.ejs') %>
