<% if(id) { %>
    <%- include('../layouts/userLoggedinHeader') %>
<% } else { %>
    <%- include('../layouts/userHeaders') %>
<% } %>

<!-- Start Banner Area -->
<!-- <section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>My Wishlist</h1>
                <nav class="d-flex align-items-center">
                    <a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/wishlist">My Wishlist</a>
                </nav>
            </div>
        </div>
    </div>
</section> -->
<!-- End Banner Area -->

<!--================My Wishlist Area =================-->
<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <% if(wishlistProducts && wishlistProducts.item.length > 0) { %>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(let key of wishlistProducts.item) { %>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img class="img-fluid" src="/admin/multer/img/<%= key.productId.image[0] %>" alt="" style="width: 180px;height: 180px;" >
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <p><h4><%= key.productId.name %></h4></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <p><h4><%= key.productId.category %></h4></p>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="media-body">
                                            <p><h4>₹ <%= key.productId.price %></h4></p>
                                        </div>
                                    </td>
                                    <td>
                                        <a href="/addToCartDeleteWishlist?id=<%= key.productId._id %>" class="btn btn-outline-warning">Add TO Cart</a>
                                    </td>
                                    <td class=""><a href="/deleteWishlist?id=<%= key.productId._id %>"><i class="fa fa-close" style="font-size:24px;color:#ffba00"></i></a></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            <% } else { %>
                <div id="wishlist-alert" class="alert alert-info" role="alert">
                    Your wishlist is currently empty.
                  </div>
<style>
    .alert {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

</style>     
<script>
    const wishlistAlert = document.querySelector("#wishlist-alert");

wishlistAlert.addEventListener("click", function() {
  wishlistAlert.style.display = "none";
});

</script>             
            <% } %>
        </div>
    </div>
</section>
<!--================End Cart Area =================-->

<!-- start footer Area -->

<!-- End footer Area -->

<%- include ('../layouts/userFooter.ejs') %>
